@import 'global';

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* slide
=================================================================== */
#slider-wrapper{
    height: 900px;
}
#home-caroussel {
    width: 100%;
    height: inherit;

    .carousel-inner {
        top: 39%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        height: 200px;

        .item{
            text-align: center;
            font-family: BebasNeueRegular, Calibri, 'Arial Narrow', Arial, sans-serif;
            padding-top: 30px;

            h2{
                color: #fff;
                font-size: 60px;
                white-space: nowrap;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
                font-family: Calibri, Arial, sans-serif;
                font-weight: 700;
            }

            p{
                color: #fff;
                font-size: 21px;
                line-height: 26px;
                font-style: italic;
                font-family: Calibri, Arial, sans-serif;
                font-weight: 400;
            }

            a{
                font-family: Calibri, Arial, sans-serif;
            }
        }
    }
}
#wrapper {
  background: #fff;
  padding-top: 20px;
}

.text-mobil{
    position: absolute;
    bottom: 195px;
    color: white !important;
    font-weight: bolder;
    left: 27px;
    top: 40%;
    display: inline-block;
    font-size: 0.8em;
    p{
        font-family: ralewayThin;
        font-size: 3.5em;
        strong{
            font-family: ralewayBold;
        }
    }
}

#contributions{
    padding-top: 30px;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	#slider-wrapper{
		width: 100% !important;
		height: 300px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {


  #slider-wrapper{
		width: 100% !important;
		height: 300px;
	}

}


/* Icon Boxes
=================================================================== */
.icons-box-container {
  float:left;
}

.icons-box {
  text-align: center;
  border: 1px solid #fff;
  padding: 30px 10px 10px 10px;
}

.icons-box:hover {
  background: #fcfcfc;
  border: 1px solid #f6f6f6;
}

.icons-box h3 {
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 3px double #f6f6f6;
  margin-bottom: 10px;
}

.icons-box p {
  float: left;
}

/* zone contribution
=================================================================== */
#contributions .row:first-child{
    margin-bottom: 15%;
}

.numb-contrib{
    font-weight: bolder !important;
    color: red;
  font-size: 1.5em;
}

.bloc-video{
    margin-bottom: 50px;
}

/* c'est quoi le codetributhon
=================================================================== */
img[alt="marathon"], img[alt="communaute"], img[alt="activites"]{
    margin-bottom: 25px;
}
/* partners
=================================================================== */
.bloc-img-partner{
    height: 200px;
    text-align: center;

    img[alt="redhat"], img[alt="savoir faire linux"]{
       padding-top: 30px;
    }
}

/* c'est quoi le codetributhon
=================================================================== */
.bloc-ml2{
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
}

/* Notice
====================================================================== */

.hero-unit {
  background: #fff url(../img/bg-k10.png);
  border-left: 4px solid $princ_color;
  padding: 13px 13px 13px 15px;
  font-style: italic;
  margin: 20px auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 14px !important;
}
