{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}- {{ events.title }}{% endblock %}

{% block pagedesc %}{{ block.super }}détail de l'évènement {{ events.title }}{% endblock %}

{% block pagekey %}{{ block.super }}, évènement, evenemtent, event, {{ events.subTitle }}, detail {{ events.title }}{% endblock %}

{% block extrahead %}
    <style>
    .btn{
	color:white;
    }
    .vertical_section{
	margin-top:50px;
	float:left;
	width:50%;}
    </style>
{% endblock %}
{% block extrajs %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="{% static 'js/events.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">

              <div class="row">
		<div class="vertical_section">
                  <img src="/media/{{ MEDIA_URL }}{{ events.presenter_picture }}" alt="{{events.title}}" class="img-responsive prj-img" width="70%">
                  <h1>
                    {{events.title}}<br>
                    <small>{{ events.subTitle }}</small>
                  </h1>
                  <h5>{{ events.dateEvent|date:"d M Y" }}  a {{ events.time }}</h5>

		</div>
		<div class="vertical_section">
		  <center>
		    <img src="/media/{{ MEDIA_URL }}{{ events.first_right_picture }}"  class="img-responsive prj-img" width=200px>
		    </br>
		    <img src="/media/{{ MEDIA_URL }}{{ events.second_right_picture }}"  class="img-responsive prj-img" width=200px>
		    </br>
                    <h4> {{events.thanking_text}} </h4></center>
		</div>
	      </div>


              <div class="row">
                  <p>
                      <b>Location:</b> {{ events.location }}
                  </p>
                  {% autoescape off %}
                      {{content_html}}
                  {% endautoescape %}
                  <div>

                    <ul class="list-inline">
		      <li>
                            <button href="{{ events.url }}" class="btn btn-md btn-url" style="background-color:#EFAD4F">
                                <span class="fa fa-globe"></span>
				 Inscris-toi
                            </button>
		      </li>
		      <li>
			<button class="btn btn-md share_fb" data-url="{{events.url}}{% url 'events:event_detail' events.id %}" style="background-color:#4C67A1">
			  <i class="fa fa-facebook" aria-hideen="true"></i>
			  Partager
			</button>
		      </li>
		      <li>
			<button class="btn btn-md share_tw" data-url="{{events.url}}{% url 'events:event_detail' events.id %}"  style="background-color:#55ACEE">
			  <i class="fa fa-twitter" aria-hideen="true"></i>
			  Partager
			</button>
		      </li>
		      <li>
			<button class="btn btn-md share_lkdin" data-url="{{events.url}}{% url 'events:event_detail' events.id %}" style="background-color:#0177B5">
			  <i class="fa fa-linkedin" aria-hideen="true"></i>
			  Partager
			</button>
		       </li>
                    </ul>
                  </div>
	      </div>
      

        </div>
    </div>

{% endblock %}
