{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}- {{ events.title }}{% endblock %}

{% block pagedesc %}{{ block.super }}détail de l'évènement {{ events.title }}{% endblock %}

{% block pagekey %}{{ block.super }}, évènement, evenemtent, event, {{ events.subTitle }}, detail {{ events.title }}{% endblock %}

{% block extrahead %}
    <style>
        /*.body{ background: url("/media/{{ MEDIA_URL }}{{ events.logo }}") no-repeat center top; background-size: 100% 100% }
        .body-general{ background-color: rgba(255, 255, 255, 0.95); padding: 0 30px; }*/
    .btn-url{
        color: black;}
    .vertical_section{
	margin-top:50px;
	float:left;
	width:50%;}
    </style>
{% endblock %}
{% block extrajs %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">

              <div class="row">
		<div class="vertical_section">
                  <img src="/media/{{ MEDIA_URL }}{{ events.presenter_picture }}" alt="{{events.title}}" class="img-responsive prj-img" width="70%">
                  <h1>
                    {{events.title}}<br>
                    <small>{{ events.subTitle }}</small>
                  </h1>
                  <h5>{{ events.dateEvent|date:"d M Y" }}  a {{ events.time }}</h5>

		</div>
		<div class="vertical_section">
		  <center>
		    <img src="/media/{{ MEDIA_URL }}{{ events.first_right_picture }}"  class="img-responsive prj-img" width=200px>
		    </br>
		    <img src="/media/{{ MEDIA_URL }}{{ events.second_right_picture }}"  class="img-responsive prj-img" width=200px>
		    </br>
                    <h4> {{events.thanking_text}} </h4></center>
		</div>
	      </div>


              <div class="row">
                  <p>
                      <b>Location:</b> {{ events.location }}
                  </p>
                  {% autoescape off %}
                      {{content_html}}
                  {% endautoescape %}
                  <div>

                    <ul class="list-inline">
                        <li>
                            <a href="{{ events.url }}" class="btn btn-warning btn-sm btn-url">
                                <span class="fa fa-globe"></span> Inscris-toi
                            </a>
                        </li>
                        <li>
                            <div class="fb-share-button" data-href="{% url 'events:event_detail' events.id %}" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                                <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={% url 'events:event_detail' events.id %}&amp;src=sdkpreparse">Partager</a>
                            </div>
                        </li>
                        <li>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{% url 'events:event_detail' events.id %}" data-via="codetributhon" data-size="large">
                                Tweet
                            </a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </li>
                    </ul>
                  </div>
	      </div>
      

        </div>
    </div>

{% endblock %}
