{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Évènements{% endblock %}

{% block pagedesc %}
    Enesemble des évènements de C0deTribuThon
{% endblock %}

{% block pagekey %}
    {{ block.super }}, calendrier du libre, calendrier du logiciel libre, contact, contacts, events, evenements,
    évènements
{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/libs/events.css' %}" rel="stylesheet">
    <style>
        h3{ padding: 20px 0; }
        .access-event{ width: 100% !important; border-top: 1px solid rgb(230, 230, 230); padding-left: 30% !important;}
    </style>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript" src="{% static 'js/events.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h1>Évènements</h1>
                </div>
            </div>

            <div class="row">
                <div  class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">

                    {% if events.count %}

                            <ul class="event-list">
                            {% for event in events %}
                                <li>
                                    <time datetime=" {{ event.dateEvent | date:"m/d/Y" }}">
                                        <span class="day">{{ event.dateEvent | date:"d"  }}</span>
                                        <span class="month">{{ event.dateEvent | date:"M"  }}</span>
                                        <span class="year">{{ event.dateEvent | date:"Y"  }}</span>
                                        <span class="time">{{ event.time  }}</span>
                                    </time>

                                    <img src="/media/{{ MEDIA_URL }}{{ event.presenter_picture }}" alt="{{event.title}}" />

                                    <div class="info">
                                        <h2 class="title">
                                            <a href="{% url 'events:event_detail' event.id %}">
                                                {{ event.title | truncatechars:30 }}
                                            </a><br>
                                            <small>{{ event.subTitle | truncatechars:50 }}</small>
                                        </h2>
                                        <p class="desc">{{ event.description | truncatechars:100 }}</p>

                                        <ul class="access-event">
                                            <li>
                                                <a href="{{ event.url }}" class="btn btn-warning btn-sm">
                                                    <span class="fa fa-globe"></span> Inscris-toi
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="social">
                                        <ul>
                                            <li class="facebook" style="width:0;">
                                                <a href="#" data-url="{{event.url}}{% url 'events:event_detail' event.id %}" class="share_fb">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li class="twitter" style="width:0;">
                                                <a href="#" data-url="{{event.url}}{% url 'events:event_detail' event.id %}" class="share_tw">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li class="linkedin" style="width:0;">
                                                <a href="#" data-url="{{event.url}}{% url 'events:event_detail' event.id %}" class="share_lkdin">
                                                    <span class="fa fa-linkedin"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>

                            {% endfor %}
                            </ul>

                    {% else %}

                        <div class="alert alert-warning">
                            Aucun evenements
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
