{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block pagedesc %}
    Foire aux questions de C0deTribuThon
{% endblock %}
{% block pagekey %}
    {{ block.super }}
{% endblock %}

{% block extrajs %}
    <script defer="defer" src="{% static 'js/faq.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h2>FAQ</h2>
                </div>
            </div>

            <div class="row">
                <div class="panel-group" id="accordion">
                    {% if faq.count %}

                            {% for f in faq %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                {{f.question}}
                                            </a>
                                        </h2>

                                    </div>
                                    <div class="panel-collapse collapse in" id="collapseOne">
                                        <div class="panel-body">
                                             <p>{{f.response}} </p>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            Aucunes questions
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}