{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ block.super }} Contribution{% endblock %}

{% block pagedesc %}ajouter une contribution{% endblock %}

{% block pagekey %}{{ block.super }}, contributions, contributions, envoyer{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/contribution.css' %}" rel="stylesheet">
{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/libs/jquery.backstretch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contribution.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="col-md-5">
                    <div class="contrib-form">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h2>{% trans "Envoyez vos Contributions" %}</h2>
                                <p><a href="{% url 'projects:contribution_list'%}">{% trans "Liste des contributions" %}</a></p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-code"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form action="" method="post" class="form" >
                                {% csrf_token %}
                                {% bootstrap_form form %}

                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        {% bootstrap_icon "star" %} {% trans "Envoyer" %}
                                    </button>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-2">
                    <div class="contrib-form">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h2>{% trans "Reglement contribution" %}</h2>
                            <p>{% trans "Conditions pour envoyer une contribution" %}</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        {% blocktrans %} Pour être valide, une contribution doit:
                        <ol>
                            <li>Être faite par un(e) étudiant(e) inscrit(e) à temps plein ou partiel à une institution universitaire ou un CEGEP.</li>
                            <li>Une contribution doit être faite dans le cadre des 4 projets libres de nos partenaires (Chromium, Libre Office, MGNT, Ring).</li>
                            <li>Être datée entre le 15 septembre et le 2 décembre 2016.</li>
                            <li>Être traçable, un URL doit être fourni lors de la soumission. La soumission dont se faire via le formulaire du site codetributhon.com</li>
                            <li>La contribution doit être acceptée "upstream" par un de nos partenaires  (Chromium, Libre Office, MGNT, Ring).</li>{% endblocktrans %}
                        </ol>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
