{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}- Contributions{% endblock %}

{% block pagedesc %}{{ block.super }}liste des contributions{% endblock %}

{% block pagekey %}{{ block.super }}, contribution, contributions{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/contrib_list.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeLine.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/libs/perfect-scrollbar.min.js' %}"></script>
    <script>
        window.onload = function () {
        Ps.initialize($('#box-timeline'));
      };

        $(function(){
            //show description
            $('.btn-show-desc').on('click', function(e){
                e.preventDefault();
                var $btn = $(this);
                $btn.addClass('hide');
                $btn.siblings('.btn-hide-desc').removeClass('hide');

                var $parent = $btn.parents('.bloc-desc');
                $parent.find('.description').removeClass('hide');
            });

            //hide description
            $('.btn-hide-desc').on('click', function(e){
                e.preventDefault();
                var $btn = $(this);
                $btn.addClass('hide');
                $btn.siblings('.btn-show-desc').removeClass('hide');

                var $parent = $btn.parents('.bloc-desc');
                $parent.find('.description').addClass('hide');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h1 id="timeline">{% trans "Liste des contributions" %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="box-btn-contrib">
                    <div class="text-center">
                        <a href="{% url 'projects:contribution_create'%}" class="btn btn-danger btn-lg btn-access-contrib">{% trans "Envoyer votre contribution" %}</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div id="box-timeline" class="col-md-10 contentHolder">
                    <div class="content">

                    <ul class="timeline">
                        {% if contributions|length > 0 %}
                            {% for contrib in contributions %}
                                    <li {% if contrib.id|divisibleby:2 %}class="timeline-inverted"{% endif %}>
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-ok"></i></div>
                                    <div class="timeline-panel ">
                                        <div class="timeline-heading">
                                              <h4 class="timeline-title">{{ contrib.username }}</h4>
                                              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ contrib.create_date | date:"m/d/Y" }}</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <ul>
                                                <li>{% trans "Projet" %} <a href="{% url 'projects:project_detail' contrib.project.id%}">{{ contrib.project.name }}</a></li>
                                                <li><a href="{{ contrib.url }}">{% trans "Lieu de la contribution" %}</a></li>
                                            </ul>
                                            <div class="bloc-desc">
                                                <p>
                                                    <a href="#" class="btn-show-desc">{% trans "Afficher la description" %}</a>
                                                    <a href="#" class="btn-hide-desc hide">{% trans "Fermer la description" %}</a>
                                                </p>

                                                <p class="description hide">{{ contrib.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                        {% else %}
                            <div class="alert alert-warning">
                                {% trans "Il n y a aucune contributions" %}
                            </div>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
