{% load staticfiles %}

    <div id="footer-menu" class="hidden-tablet hidden-phone">
        <div class="container hidden-xs hidden-sm">
            <div class="row">
                <div class="col-md-1">
                    <div id="footer-menu-logo">
						<a href="#"><img src="{% static 'img/mini-logo.png' %}" alt="logo" width="60%"/></a>
					</div>
                </div>
                <div class="col-md-11">
                    <div id="footer-menu-links">
                        <ul class="list-inline" id="footer-nav">
                            <li><a href="{% url 'pages:home'%}">Accueil</a></li>
                            <li><a href="{% url 'pages:calendar'%}">Évènements</a></li>
                            <li><a href="{% url 'projects:project_list' %}">Projets</a></li>
                            <li><a href="{% url 'projects:contribution_list'%}">Contributions</a></li>
                   	    <li><a href="{% url 'faq:faq_list'%}">FAQ</a></li>
                            <li><a href="{% url 'pages:settlement'%}">Règlement</a></li>

                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div id="footer">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <h3>À propos</h3>

                    <p class="text-justify">
                        Le codetributhon est une initiative propulsé par la ML2. L’objectif de la ML2 est de
                        perfectionner les compétences des étudiants du réseau universitaire québécois, dans divers
                        langages informatiques, par la participation à des projets libres. Notre mission: Initier,
                        Développer, Partager
                    </p>

                </div>

                <div class="col-lg-4">
                    <h3>Suivez-nous!</h3>
                    <ul class="social-grid">
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-twitter">
                                            <a href="https://twitter.com/ML2_ETS" target="_blank" ></a>
                                        </div>
                                        <div class="social-info-back social-twitter-hover">
                                            <a href="https://twitter.com/ML2_ETS target="_blank" ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-facebook">
                                            <a href="https://www.facebook.com/maisonlogiciellibre/?fref=ts" target="_blank" ></a>
                                        </div>
                                        <div class="social-info-back social-facebook-hover">
                                            <a href="https://www.facebook.com/maisonlogiciellibre/?fref=ts" target="_blank" ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-linkedin">
                                            <a href="https://www.facebook.com/maisonlogiciellibre/?fref=ts" target="_blank" ></a>
                                        </div>
                                        <div class="social-info-back social-linkedin-hover">
                                            <a href="https://www.facebook.com/maisonlogiciellibre/?fref=ts" target="_blank" ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-4">
                    <h3>Contactez-nous</h3>

                    <dl>
                        <dt>Telephone</dt>
                        <dd>514-396-8799</dd>
                        <dt>Email</dt>
                        <dd>maisonlogiciellibre@etsmtl.net</dd>
                        <dt>Adresse</dt>
                        <dd>1100 rue Notre Dame Ouest ÉTS pavillon A-0130</dd>
                    </dl>
            </div>

        </div>

    </div>
    <div id="copyright">
        <div class="container">

            <p>

                &copy; 2016, creativeLabs.
                C0deTribuThon all right reserved *
                <a href="maisonlogiciellibre@etsmtl.net">Maison du logiciel libre</a>
            </p>

        </div>

    </div>
