{% load staticfiles %}

    <div id="footer-menu" class="hidden-tablet hidden-phone">
    </div>
    <div id="footer">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">

                    <h3>Liens rapides </h3>
                    <ul>
                        <li><a href="{% url 'pages:home'%}">Accueil</a></li>
                        <li><a href="{% url 'pages:calendar'%}">Évènements</a></li>
                        <li><a href="{%  url 'projects:project_list' %}">Projets</a></li>
                        <li><a href="{% url 'faq:faq_list' %}">FAQ</a></li>
                        <li><a href="{% url 'pages:contact'%}">A propos</a></li>
                        <li><a href="{% url 'pages:settlement'%}">Règlement</a></li>
                    </ul>


                </div>

                <div class="col-lg-5">
                    <h3>Suivez-nous!</h3>
                    <ul class="social-grid">
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-twitter">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                        <div class="social-info-back social-twitter-hover">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-facebook">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                        <div class="social-info-back social-facebook-hover">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-3">
                    <h3>Contactez-nous</h3>

                    <dl>
                        <dt>Telephone</dt>
                        <dd>514-396-8799</dd>
                        <dt>Email</dt>
                        <dd>amccompetition@gmail.com</dd>
                        <dt>Adresse</dt>
                        <dd>1100 rue Notre Dame Ouest ÉTS pavillon A-0130</dd>
                    </dl>
            </div>

        </div>

    </div>
    <div id="copyright">
        <div class="container">

            <p>

                &copy; 2016, creativeLabs.
                C0deTribuThon all right reserved *
                <a href="maisonlogiciellibre@etsmtl.net">Maison du logiciel libre</a>
            </p>

        </div>

    </div>
