{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}
{% block title %}Accueil{% endblock %}
{% block pagedesc %}
    Page d'accueil pour C0deTribuThon
{% endblock %}
{% block pagekey %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/libs/txtProgress.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="{% static 'js/libs/jquery.backstretch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/txtProgress.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>

    <script src="{% static 'js/template/flexslider.js' %}"></script>
    <script src="{% static 'js/template/carousel.js' %}"></script>
    <script src="{% static 'js/template/jquery.cslider.js' %}"></script>
    <script src="{% static 'js/template/slider.js' %}"></script>
    <script defer="defer" src="{% static 'js/template/custom.js' %}"></script>

    <script>
        var percent = {{ number_of_contribution }}
        $(".textProgress").data("animated", false).textProgress(percent);
        $(".nb-contribution").html(percent);

    </script>
{% endblock %}

{% block content %}

    <div class="slider-wrapper">
        <div id="da-slider" class="da-slider">
            <div class="hidden-xs da-slide">
                <h2>Un, deux, trois GO!</h2>
                <p>
                    C’est enfin parti pour le c0deTribuTh0n 2016! Du 15 septembre au 2 décembre 2016 participez à nos
                    activités! Plusieurs prix à gagner.
                </p>

                <div class="da-img"><img src="{% static 'img/parallax-slider/img_slide_1.png' %}" alt="image01" /></div>
            </div>
            <div class="hidden-xs da-slide">
                <h2>Préparez-vous à contribuer</h2>
                <p>
                    Le but est d’atteindre 100 contributions dans trois  projets de logiciel  libre. Nos partenaires
                    Google, Red Hat et Savoir-faire Linux donnerons des ateliers spécifiques au projet.
                    <br>
                    <a href="{%  url 'projects:project_list' %}" class="btn btn-danger btn-sm">Projets</a>
                </p>

                <div class="da-img"><img src="{% static 'img/parallax-slider/img_slide_2.png' %}" alt="image02" /></div>
            </div>
            <div class="hidden-xs da-slide">
                <h2>Joins-toi à nous!</h2>
                <p>
                    Pour participer, rien de plus simple. Inscris-toi aux ateliers, contribue, envoie-nous URL
                    de ton commit. Les meilleurs contributeurs étudiants pourront gagner des prix.
                    <br>
                    <a href="" class="btn btn-danger btn-sm">Insrivez-vous</a>
                </p>

                <div class="da-img"><img src="{% static 'img/parallax-slider/img_slide_3.png' %}" alt="image03" /></div>
            </div>
            <div class="hidden-xs da-slide">
                <h2>Participez au coup d’envoi chez Google Montréal!</h2>
                <p>
                    Venez célébrer le grand départ du c0deTribuTh0n 2016 chez Google Montréal de 8 h à
                    20 h le jeudi 15 septembre.
                    <br>
                    <a href="" class="btn btn-danger btn-sm">Insrivez-vous</a>
                </p>

                <div class="da-img"><img src="{% static 'img/parallax-slider/img_slide_4.png' %}" alt="image04" /></div>
            </div>

        </div>

        <div class="hidden-sm hidden-md hidden-lg text-center text-mobil">
            <p>Code<strong>Tribu</strong>Thon</p>
        </div>

    </div>

    <!--start: Wrapper-->
    <div id="wrapper">

        <!--start: Container -->
        <div class="container">
            <section class="hero-unit">
                <h2 class="text-center">Pourquoi participer au C0deTribuThon?</h2>
                <br>
                <p>
                    Pour développer tes compétences dans de nouveaux langages et en logiciel libre tout en
                    faisant partie d’une grande communauté afin de participer à des ateliers donnés par
                    des programmeurs / mentors provenant de nos entreprises partenaires.
                </p>


            </section>
            <hr>

            <section id="contributions">
                <div class="row">
                    <div id="progress-bar" class="hidden-xs hidden-sm">
                        <div class="textProgress">
                            <span class="tp">CODETRIBUTHON <i class="fa fa-linux"></i></span>
                            <span class="tp">CODETRIBUTHON <i class="fa fa-linux"></i></span>
                            <div class="progress"><span class="percent">20%</span></div>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg text-center ">
                        <h4>Nous avons déjà <em class="text-danger nb-contribution"></em> contributions</h4>

                    </div>
                </div>

                <div class="row">
                    <div class="text-center">
                        <a href="{% url 'projects:contribution_create' %}" class="btn btn-success btn-lg">Envoyer votre contribution</a>
                    </div>
                </div>

            </section>
            <hr>

            <!-- start: Row -->
            <div class="row">
                     <h1 class="text-center">C'est quoi C0deTribuThon?</h1>
                <br>
                <div class="col-md-4">
                    <div class="icons-box">
                        <img src="{% static 'img/linux.png' %}" alt="logo linux">
                        <div class="title"><h3>Un marathon</h3></div>
                        <p>
                            Un marathon de contributions étudiants sur 4 projets libres
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icons-box">
                        <img src="{% static 'img/ubuntu.png' %}" alt="logo linux">
                        <div class="title"><h3>Des activités</h3></div>
                        <p>
                            Participez à nos activités: ateliers, conférences, 5à7, projection vidéo, party et plus!.
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icons-box">
                        <img src="{% static 'img/ff.png' %}" alt="logo linux">
                        <div class="title"><h3>La communauté</h3></div>
                        <p>
                            Débutants, experts sont les bienvenus pour participer,
                            s’entraider, contribuer.
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <!-- end: Row -->

            <hr>

            <!-- start: Row -->
            <div class="row" id="bloc-partners">
                <h1 class="text-center">Nos partenaires</h1>
                <h3 class="text-center">Edition 2016</h3>
                <br><br>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="bloc-img-partner"><img src="{% static 'img/partners/ff.png' %}" alt="mozilla" width="65%"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="bloc-img-partner"><img src="{% static 'img/partners/google.png' %}" alt="google" class="img-responsive" ></div>
                    </div>
                    <div class="col-md-3">
                        <div class="bloc-img-partner"><img src="{% static 'img/partners/redhat.png' %}" alt="redhat" class="img-responsive" ></div>
                    </div>
                    <div class="col-md-3">
                        <div class="bloc-img-partner"><img src="{% static 'img/partners/sflinux.png' %}" alt="savoir faire linux" class="img-responsive"></div>
                    </div>

                </div>

            </div>
            <!-- end: Row -->

        </div>
        <!--end: Container-->

    </div>
    <!-- end: Wrapper  -->




{% endblock %}