{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}Officiel - Accueil{% endblock %}

{% block pagedesc %}{{ block.super }}Page d'accueil{% endblock %}

{% block pagekey %}{{ block.super }}, home, accueil, facebook, twitter, marathon, activité communautaire, mozilla,
    Google, redhat, linux, savoir faire linux, savoir faire, etudiant, etudiants, étudiant, étudiants,
    students, student{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/libs/txtProgress.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/libs/jquery.backstretch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/txtProgress.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>

    <script>
        var percent = {{ percent_of_contribution }};
        $(".textProgress").data("animated", false).textProgress(percent);
        $(".nb-contribution").html(percent);

    </script>
{% endblock %}

{% block content %}

    <div id="slider-wrapper">

        <div id="home-caroussel" class="hidden-sm hidden-xs carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#home-caroussel" data-slide-to="0" class="active"></li>
                <li data-target="#home-caroussel" data-slide-to="1"></li>
                <li data-target="#home-caroussel" data-slide-to="2"></li>
                <li data-target="#home-caroussel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="box-text">
                        <h2>1, 2, 3 GO!</h2>
                        <p>
                            {% blocktrans %}C’est enfin parti pour le codetributhon 2016! <br>Du 15 septembre au 2 décembre 2016 participez à nos
                            activités!<br>Plusieurs prix à gagner.{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-text">
                        <h2>{% trans "Un marathon de contributions!" %}</h2>
                        <p>
                            {% blocktrans %}Le but est d’atteindre <span class="numb-contrib">{{ number_of_contribution }}</span>
				 contributions dans 4 projets de logiciel libre. {% endblocktrans %}
                        </p>
                        <a href="{%  url 'projects:project_list' %}" class="btn btn-danger btn-lg">{% trans "Projets" %}</a>
                    </div>
                </div>
                <div class="item">
                    <div class="box-text">
                        <h2>{% trans "Joins-toi à nous" %}</h2>
                        <p>
                            {% blocktrans %}Pour participer, rien de plus simple.<br> Inscris-toi aux ateliers, contribue et envoie URL de ton commit.<br>
                            Les meilleurs contributeurs étudiants gagneront des prix.{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-text">
                        <h2>{% trans "Plusieurs ateliers et conférences à venir !" %}</h2> </br>
                        <a href="http://www.codetributhon.com/events/list/" class="btn btn-danger btn-lg">{% blocktrans %}Liste des évènements{% endblocktrans %}</a>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#home-caroussel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#home-caroussel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

        <div class="hidden-sm hidden-md hidden-lg text-center text-mobil">
            <p>Code<strong>Tribu</strong>Thon</p>
        </div>


    </div>

    <!--start: Wrapper-->
    <div id="wrapper">

        <!--start: Container -->
        <div class="container">

            <section id="contributions">
                <div class="row">
                    <h1 class="text-center">{% trans "Contributions cumulées" %}</h1>
                    <br>
                    <div id="progress-bar" class="hidden-xs hidden-sm">
                        <div class="textProgress">
                            <span class="tp">CODETRIBUTHON</span>
                            <span class="tp">CODETRIBUTHON</span>
                            <div class="progress"><span class="percent"></span></div>
                        </div>
                    </div>
                    <div class="hidden-md hidden-lg text-center ">
                        <h4>{% blocktrans %}Nous avons déjà <em class="text-danger nb-contribution"></em> contributions{% endblocktrans %}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center">
                        <a href="{% url 'projects:contribution_list'%}"  class="btn btn-danger btn-lg btn-access-contrib">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            {% trans "Liste des contributions" %}
                        </a>
                        <a href="{% url 'projects:contribution_create' %}" class="btn btn-danger btn-lg btn-access-contrib">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            {% trans "Envoyez votre contribution" %}
                        </a>
                    </div>
                </div>

            </section>
            <hr>

            <div class="row text-center bloc-video">
                <iframe width="70%" height="480" src="https://www.youtube.com/embed/DllPhc_U9jw" frameborder="0" allowfullscreen ></iframe>
            </div>

            <!-- start: Row -->
            <div class="row">

                <h1 class="text-center">{% trans "C'est quoi le codetributhon?" %}</h1>
                <br>
                <div class="col-md-4">
                    <div class="icons-box">
                        <img src="{% static 'img/img_desc/marathon.png' %}" alt="marathon" width="50%">
                        <div class="title"><h3>{% trans "Le marathon" %}</h3></div>
                        <p>
                            {% trans "Un marathon de contributions étudiantes. Objectif 100 contributions dans 4 projets en logiciel libre." %}
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icons-box">
                        <img src="{% static 'img/img_desc/activities.png' %}" alt="activites" width="50%">
                        <div class="title"><h3>{% trans "Des activités" %}</h3></div>
                        <p>
                            {% trans "Une foule d’activités: ateliers, conférences, 5à7, projection vidéo et bien plus!" %}
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icons-box">
                        <img src="{% static 'img/img_desc/community.png' %}" alt="communaute" width="50%">
                        <div class="title"><h3>{% trans "La communauté" %}</h3></div>
                        <p>
                            {% trans "Débutants comme experts sont les bienvenus pour participer, s’entraider, contribuer et faire grandir la communauté du libre!" %}
                        </p>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <!-- end: Row -->

            <hr>

            <!-- start: Row -->
            <div class="row" id="bloc-partners">
                <h1 class="text-center">{% trans "Nos partenaires" %}</h1>
                <br><br>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="bloc-img-partner">
                            <a href="https://abc.xyz/">
                                <img src="{% static 'img/partners/google.png' %}" alt="google" class="img-responsive" >
                            </a>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="bloc-img-partner">
                            <a href="https://www.redhat.com/en">
                                <img src="{% static 'img/partners/redhat.png' %}" alt="redhat" class="img-responsive" >
                            </a>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="bloc-img-partner">
                            <a href="https://www.collabora.com/">
                                <img src="{% static 'img/partners/collabora.png' %}" alt="collabora"class="img-responsive">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="bloc-img-partner">
                            <a href="https://www.savoirfairelinux.com/">
                                <img src="{% static 'img/partners/sflinux.png' %}" alt="savoir faire linux" class="img-responsive">
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- end: Row -->
            <br>
            <div class="row">
                <div class="bg-danger text-center bloc-ml2">
                    <p>{% trans "Le codetributhon un évènement propulsé par" %}
                        <a href="https://maisonlogiciellibre.org/">
                            <img src= "{% static 'img/icons/ml2_logo.png' %}" alt="Maison du logiciel libre" width=40% >
                        </a>
                    </p>
                </div>
                <div class="bg-danger text-center bloc-ml2">
                    <p>{% trans "Activité dans le cadre de la semaine québécoise de l'informatique libre (SQIL) 2016" %}
                        <a href="http://2016.sqil.info/activites/">
                            <img src= "{% static 'img/icons/sqil_logo.png' %}" alt="Semaine québécoise de l'informatique libre (SQIL)" width=30%>
                        </a>
                    </p>
                </div>

            </div>

        </div>
        <!--end: Container-->

    </div>
    <!-- end: Wrapper  -->




{% endblock %}
