{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }} Récompenses{% endblock %}

{% block pagedesc %}{{ block.super }}Page des récompenses{% endblock %}

{% block pagekey %}{{ block.super }}, reward, rewards, récompense, récompenses{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/reward.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container" id="container">
	<div class="body-general">
	    <!-- <div class="row" id="badges">-->
	    <div class="row">
		<div class="page-header">
		    </br>
		    <h1>Badges</h1>
		</div>
		<div class="contribution-prix">
		    <ul class="no_bullet">
                {% trans "ième" as  ième %}
                <li class="bullet_logo">
                    <img src="{% static 'img/icons/GreenContributionLogo.png' %}" alt="1ere contribution"/>
                    1{% trans "ere" %} contribution
                </li>
                <li class="bullet_logo">
                    <img src="{% static 'img/icons/YellowContributionLogo.png' %}" alt="5e contribution"/>
                    5{{ ième }} contribution
                </li>
                <li class="bullet_logo">
                    <img src="{% static 'img/icons/PinkContributionLogo.png' %}" alt="10e contribution"/>
                    10{{ ième }}  contribution
                </li>
                <li class="bullet_logo">
                    <img src="{% static 'img/icons/BlueContributionLogo.png' %}" alt="15e contribution"/>
                    15{{ ième }}  contribution
                </li>
                <li class="bullet_logo">
                    <img src="{% static 'img/icons/BlackContributionLogo.png' %}" alt="20e contribution"/>
                    20{{ ième }}  contribution
                </li>
		    </ul>
		</div>
	    </div>
	    <div class="row" id="trousse-surprise">
		<div class="page-header">
		    <h1>{% trans "Trousse-surprise" %}</h1>
		</div>
		<div class="col-md-12 text-center">
		    <p>{% trans "Rémise à tous les étudiants qui viennent aux ateliers avec les partenaires." %}</p>
		    <p>{% trans "Surprise!!!" %}</p>
		</div>
	    </div>
	    <div class="row" id="trousse-surprise">
		<div class="page-header">
		    <h1>{% trans "Meilleurs contributeurs!!" %}</h1>
		</div>
		<div class="col-md-12 text-center">
		    <p>{% trans "Prix remis pour les étudiants qui atteignent un nombre précis de 'commit intégré upstream'." %}</p>
		    <p>{% trans "Liste à venir!!!" %}</p>
		</div>
	    </div>


	</div>
    </div>

    <!--start: Wrapper-->
    <div id="wrapper">


    </div>
    <!-- end: Wrapper  -->




{% endblock %}
