{% extends "landing_base.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}- Règlement officiel{% endblock %}

{% block pagedesc %}règlement officiel{% endblock %}

{% block pagekey %}{{ block.super }}, règlement, reglement rule, rules, regles, règles, réglement officiel{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h2>Règlement</h2>
                </div>
                <div class="col-sm-12">
                    <p class="text-justify">
                        Pour être valide, une contribution doit:
                        <ol>
                            <li>Être faite par un(e) étudiant(e) inscrit(e) à temps plein ou partiel à une institution universitaire ou un CEGEP.</li>
                            <li>Une contribution doit être faite dans le cadre des 4 projets libres de nos partenaires (Chromium, Libre Office, MGNT, Ring).</li>
                            <li>Être datée entre le 15 septembre et le 2 décembre 2016.</li>
                            <li>Être traçable, un URL doit être fourni lors de la soumission. La soumission dont se faire via le formulaire du site codetributhon.com</li>
                            <li>La contribution doit être acceptée "upstream" par un de nos partenaires  (Chromium, Libre Office, MGNT, Ring).  </li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}