{% extends "landing_base.html" %}

{% block title %}{{ block.super }}- projet - {{project.name}}{% endblock %}

{% block pagedesc %}{{ block.super }}détail du projet {{project.name}}{% endblock %}

{% block pagekey %}{{ block.super }}, projet, projets, project, projects, {{project.name}}, detail {{project.name}}{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h1>
                        {{project.name}}
                    </h1>
                    <small>Un projet de : <strong>{{project.organization}}</strong></small>
                </div>
            </div>
            <div class="row">

                {% autoescape off %}
                    {{content_html}}
                {% endautoescape %}
            </div>
        </div>
    </div>

{% endblock %}