{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}- projets{% endblock %}

{% block pagedesc %}{{ block.super }}liste des projets{% endblock %}

{% block pagekey %}{{ block.super }}, projet, projets, project, projects{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h1>Liste des projets</h1>
                </div>
            </div>
            <div class="row" id="group-btn-contrib">
                <div class="col-md-12 text-center">
                    <a href="{% url 'projects:contribution_list'%}"  class="btn btn-danger btn-lg btn-access-contrib">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Liste des contributions
                    </a>
                    <a href="{% url 'projects:contribution_create'%}" class="btn btn-danger btn-lg btn-access-contrib">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Envoyez votre contribution
                    </a>
		            <a href="http://www.codetributhon.com/reward"  class="btn btn-danger btn-lg btn-access-reward">
			            <i class="fa fa-gift" aria-hidden="true"></i>
			            Liste des prix pour avoir contribuer!
		            </a>
                </div>
            </div>
            <div class="row">
                {% if projects|length > 0 %}
                    {% if projects %}
                        {% for project in projects %}

                            <div class="col-xs-18 col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="/media/{{ MEDIA_URL }}{{ project.logo }}" alt="{{project.name}}" class="prj-img">
                                    <div class="caption body">
                                        <h2>
                                            <a href='{% url 'projects:project_detail' project.id%}'
                                               title="{{project.name}}">
                                                {{project.name|truncatechars:17}}
                                            </a>
                                        </h2>
                                        <h4 title="{{project.organization.name}}">
                                            <a href="{{ project.organization.url }}">
                                                {{project.organization.name|truncatechars:17}}
                                            </a>
                                        </h4>
                                        <h5>Contributions: <code>{{ project.nb_contrib }}</code></h5> 
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            Aucun de vos projets ne correspond à ce statut.
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning">
                        Vous n'avez aucun projet pour le moment.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
