{% extends "landing_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}- projets{% endblock %}

{% block pagedesc %}{{ block.super }}liste des projets{% endblock %}

{% block pagekey %}{{ block.super }}, projet, projets, project, projects{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body-general">
            <div class="row">
                <div class="page-header">
                    <h2>Liste des projets</h2>
                </div>
            </div>
            <div class="row" id="group-btn-contrib">
                <div class="col-md-12 text-center">
                    <a href="{% url 'projects:contribution_create'%}" class="btn btn-success btn-lg">Envoyer votre contribution</a>
                </div>
            </div>
            <div class="row">
                {% if projects|length > 0 %}
                    {% if projects %}
                        {% for project in projects %}

                            <div class="col-xs-18 col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="/media/{{ MEDIA_URL }}{{ project.logo }}" alt="">
                                    <div class="caption">
                                        <h2>
                                            <a href='{% url 'projects:project_detail' project.id%}'
                                               title="{{project.name}}">
                                                {{project.name|truncatechars:17}}
                                            </a>
                                        </h2>
                                        <h4 title="{{project.organization.name}}">
                                            <a href="{{ project.organization.url }}">
                                                {{project.organization.name|truncatechars:17}}
                                            </a>
                                        </h4>
                                        <hr>
                                        <p>{{ project.description|truncatechars:200 }}</p>
                                    </div>
                                    <div class="stat">
                                        <table class="text-center">
                                            <tr>
                                                <td class="clr-green">Contributions</td>
                                                <td class="clr-red">Participants</td>
                                            </tr>
                                            <tr>
                                                <td class="clr-green">{{ project.nb_contrib }}</td>
                                                <td class="clr-red">3</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="caption">
                                        <ul class="list-inline">
                                            <li><a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a></li>
                                            <li><a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-stack-overflow"><i class="fa fa-stack-overflow"></i></a></li>
                                            <li><a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            Aucun de vos projets ne correspond à ce statut.
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning">
                        Vous n'avez aucun projet pour le moment.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}